.news_blog {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 5rem;
}

.main_blog {
    margin-top: 4rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 65%;

}

.site_blog {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 35%;

    justify-items: center;
}

.main_img {
    width: 75%;
    height: 35rem;
}

.site_img {
    width: 60%;
    height: 15rem;
}

.main_header {
    font-size: 3rem;
    width: 75%;
}

.site_header {
    font-size: 2rem;
    width: 75%;
}

site_blog_items {
    margin-bottom: 2rem;
}

.main_blog p {
    font-size: 1.5rem;
    width: 65%;
}

.site_blog p {
    font-size: 1.5rem;
    width: 65%
}

.site_blog_items {
    margin-bottom: 2rem;
}