.about_page {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.ricardo1 {
    width: 46rem;
    height: 80rem;
    display: inline-block;
    float: left;
    margin-left: 2rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

#hist-text {
    align-items: center;
    box-sizing: border-box;
    margin-left: 7rem;
    margin-top: 2rem;
    height: 80rem;
    width: 40rem;
    display: inline-block;
    float: left;
}

.hist-text {
    font-size: 2rem;
    text-align: justify;
    width: auto;
}

.hist-text img {
    display: block;
    margin: 0 auto;
}

.bois_picture {
    width: 40rem;
    height: 25rem;
}

.ducttape_guy {
    width: 40rem;
    height: 25rem;
}

#aboutus-text {
    align-items: center;
    box-sizing: border-box;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 0;
    height: 80rem;
    width: 40rem;
    display: inline-block;
    float: left;
}

.aboutus-text {
    font-size: 2rem;
    text-align: justify;
    width: auto;
}

.aboutus-text img {
    display: block;
    margin: 0 auto;
}

.feet_image {
    width: 40rem;
    height: 25rem;
}

.ricardo2 {
    margin-left: 7rem;
    width: 46rem;
    height: 80rem;
    display: inline-block;
    float: left;
}

/* THIS IS TO MAKE THE RESPONSIVE NAVBAR DISPLAY PROPERLY */
@media screen and (max-width: 960px) {
    .about_page {
        margin-left: 14rem;
    }
}