.imgForContentDiv {
    float: left;
    height: 100%;
    margin-bottom: 0;
}

.imgForContentDiv img {
    background-color: black;
    margin: 5%;
    height: 90%;
    width: 90%;
}

.textForContentDiv {
    background-color: white;
    height: 100%;
    width: 100%;
}

.text {
    height: 100%;
    padding: 1%;
}

.text p {
    font-size: 2rem;
    text-indent: 5rem;
    padding-top: 1rem;
}

.clubForContentDiv {
    width: 74%;
    margin: 2% 2% 0;
    border: 1px solid lightgray;
    height: 49.239rem;

}

#upcomingEvents {
    width: 20%;
    float: right;
    background-color: #d3d3d3;
    margin: 2% 2% 0;
}

#upcomingEvents h1 {
    background-color: white;
    text-align: center;

}

#upcomingEvents {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 12rem;
}

.upcomingEvent {
    border-bottom: .2rem solid white;
}

#upcomingEvents img {
    margin: 5%;
    width: 90%;
}

#upcomingEvents h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5%;
}

body {
    background-color: white;
}

h1 {
    color: var(--black);
    font-size: 4rem;
    font-weight: 500;
}
