.news_blog {
    display: flex;
    flex-direction: row;
    margin-top: 0rem;
}

.home {
    background-image: linear-gradient(to right bottom, #0000007e, #2d312d),
        url(../images/background_img.jpg);
    background-size: cover;
}

.main_blog {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 3rem;
}

.main_header {
    display: flex;
    justify-content: center;
    width: 75%;
    font-size: 3rem;
    margin-top: 2rem;
}

.main_header a {
    color: wheat;
}

.main_header a:not(:active):hover {
    margin-bottom: 1rem;
    transform: scale(1.1);
    transition-duration: .3s;
    color: white;
}

.main_header a:not(:active) {
    margin-bottom: 1rem;
    transition-duration: .3s;
}

.main_paragraph {
    font-size: 2rem;
    width: 75%;
    color: white;
}

.site_blog {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main_img_div {
    width: 75%;
}

.main_img_div:hover {
    transform: scale(.95) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba(black, .5);
    transition: ease-in .2s;
    margin-top: 1rem;
}

.main_img_div {
    transition: ease-out .2s;
}

.main_img_div:not(:active):hover {
    transform: scale(1) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba(black, .5);
    margin-top: 1rem;
}

.main_img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem rgba(black, 0.5);
}

.site_header {
    font-size: 2rem;
    width: 75%;
}

.site_header a {
    color: white;
}

.site_header:not(:active) {
    transform: scale(.95) translateY(-.5rem);
    transition-duration: .2s;
    margin-bottom: 1rem;
}

.site_header:not(:active):hover {
    transform: scale(1) translateY(-.5rem);
    transition-duration: .2s;
    margin-bottom: .5rem;
}

.site_blog_items {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.site_img_div {
    width: 67%;
}

.site_img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.site_img_div {
    transform: scale(.98);
    transition: .2s ease-in;
    box-shadow: 0 2.5rem 4rem rgba(black, black, black, .5);
    margin-top: .5rem;
}

.site_img_div:not(:active):hover {
    transition: .2s ease-out;
    box-shadow: 0 2.5rem 4rem rgba(black, black, black, .5);
    margin-top: .5rem;
}

.main_img_div,
.site_img_div {
    margin: 1.5rem 0;
}

.site_paragraph {
    font-size: 1.5rem;
    width: 65%;
    display: flex;
    align-items: flex-start;
    color: white;
}


/* THIS IS TO MAKE THE RESPONSIVE NAVBAR DISPLAY PROPERLY */
@media screen and (max-width: 960px) {
    .news_blog {
        margin-left: 14rem;
    }
}
