h1,
p {
    text-align: center;
}

h1 {
    font-size: 400%;
    font-weight: bold;
    letter-spacing: .2rem;
    color: white;
    padding-bottom: 1rem;
}

h1:after {
    content: '';
    background: white;
    display: block;
    height: .3rem;
    width: 15rem;
    margin: 1rem auto;
}

p {
    font-size: 150%;
}

.member {
    width: 60rem;
    height: 52rem;
    margin: auto;
    border: .3rem solid black;
    padding: 1rem;
    background-color: grey;
}

.background {
    background-image: linear-gradient(to right bottom, #0000007e, #2d312d),
        url(../images/background_img.jpg);
    background-size: cover;
}