body{
    font-family: 'Ubuntu', sans-serif;
}

h1, p 
{
    text-align: center;
}

h1 {
    font-size: 400%;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 10px;
}

h1:after {
    content: '';
    background: white;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

p {
    font-size: 150%;
}

.member {
    width: 600px;
    height: 520px;
    margin: auto;
    border: 3px solid black;
    padding: 10px;
    background-color: grey;
}

.background{
    background-image: linear-gradient(to right bottom, #0000007e, #2d312d),
    url(../images/background_img.jpg);
    background-size: cover;
}
