:root {
    --black: #212121;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
}

a {
    text-decoration: none;
}

#navbar {
    background-color: var(--black);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 0;
}

#nav-items {
    display: flex;
    align-items: center;
}

.nav-item a {
    color: #fff;
    font-size: 2.5rem;
    margin: 0 1.5rem;
    padding: 0 .5rem .5rem .5rem;
    transition: .3s ease-out;
    opacity: .65;
}

#logo {
    width: 6.5rem;
    height: 6.5rem;
    align-self: center;
}
#logo-img {
    width: 100%;
    height: auto;
}
.nav-item:nth-child(1) a {
    opacity: 1;
    border: 1px solid #fff;
    padding: 1rem 2rem;
}

.nav-item:nth-child(1) a:hover {
    color: var(--black);
    background-color: #fff;
    transition: .3s ease-in;
}

.nav-item a:hover {
    transition: .3s ease-in;
    opacity: 1;
}

@media (max-width: 98rem) {
    /* create burger menu */
}
